* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(105, 105, 105);;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar-track
{

	border-radius: 10px;
	background-color: none;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: none;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

ul {
  all: unset;
}

li {
  list-style: none;
}

/*******************************
 *  GameBoy Body Styles
 *******************************/

 .game-body {
  width: 70vh;
  height: 95vh;
  background-color:rgba(96, 58, 159);
  border-top-left-radius:9px;
  border-top-right-radius:9px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 24px 25px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  box-sizing: border-box;
}

/*******************************
 *  Screen Styles
 *******************************/

 .screen-wrapper {
  width: 65vh;
  height: 52vh;
  margin-top: 2vh;
  background-color: rgb(63, 61, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: inset 0px 10px 10px 30px rgba(0, 0, 0, 0.3);
  border: 3px solid black;
  box-sizing: border-box;
}

.screen {
  width: 57vh;
  height: 45vh;
  background: url("./images/screen-background.png");
  margin-top: 2vh;
  box-shadow: inset 10px 10px 100px 20px rgba(0,0,0,10), -100px -100px 2px 3px rgba(0, 0, 0, 0);
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  box-sizing: border-box;
}

.pokemon-info-wrapper {
  width: 50%;
  height: 90%;
  border: 5px solid rgb(218, 218, 218);
  border-radius: 10px;
  box-shadow: inset 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin-left: 1vh;
}

.pokemon-info {
  width: 100%;
  height: 100%;
  background-color: rgba(214, 216, 212);
  border: 4px solid black;
  box-shadow: inset 0px 10px 15px 10px rgba(0, 0, 0, 0.6);
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.pokemon-photo {
  width: 50%;
  height: 13vh;
  padding: 1vh 0;
  margin-top: 1vh;
  background-color: rgb(234, 235, 233);
  border: 4px solid black;
  box-shadow:  0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex; /* Asegúrate de que el contenedor use flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.pokemon-sprite {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.pokemon-text{
  font-size: 0.9rem;
  margin-top: 20px;
  margin-left: 10px;
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 25vh;
  overflow-y: auto;
}

.pokemon-name {
  width: 80%;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bolder;
}

.pokemon-data {
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 100%;

}

.js-pokemon-list {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 37vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-button {
  display:block;
  width:80%;
  padding:1vh;
  background-color: rgb(235, 228, 45);
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.pokemon-button.active {
  background-color: rgb(253, 247, 80);
  width:90%;
  padding:2vh;
}

.pokemon-search-button {
  position: fixed;
  width:8.4%;
  top: 135px; /* Ajustar según sea necesario */
  transform: translateX(0%);
  padding:1vh;
  background-color: rgb(235, 228, 45);
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.search-input-wrapper{
  display:none;
  position:absolute;
  top:300px;
  width:200px;
  height:100px;
  border-radius: 16px;
  border:2px solid black;
  background-color:royalblue;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.6);
  background-color: rgb(235, 228, 45);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;

}

.search-input-wrapper.active {
  display:flex;

}

.search-input-wrapper input{
  font-weight: bolder;
  width:50%;
}


li{
  margin-bottom:1vh;
}

.bold-profile{
  font-weight:bold; 
  align-self: center;
  border-bottom: 1px solid black; 
  width:20vh; 
  text-align:center; 
}

.bold-info{
  font-weight:bold; 
  display:inline;
}

.control-wrapper {
  margin-top: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
}

.sticks-wrapper {
  position: relative;
  height: 18vh;
}

.up-button, .down-button, .right-button, .left-button {
  position: absolute;
  width:6vh;
  height:6vh;
  background-color: rgb(63, 61, 72);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6), -2px 2px 3px rgba(0, 0, 0, 0.6);

}

.up-button {
  background-image: url("./images/triangulo.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.down-button {
  background-image: url("./images/triangulo_down.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  bottom: 0;
}

.right-button {
  background-image: url("./images/triangulo_left.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  right: 0;
  top: 33%;
}

.left-button{
  background-image: url("./images/triangulo_right.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  top: 33%;
  left: 57px;
}

.buttons-wrapper {
  position: relative;
}

.a-button{
  width:75px;
  height:75px;
  position:absolute;
  border-radius: 50px;
  background-color: rgb(63, 61, 72);
  bottom:10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.b-button{
  width:75px;
  height:75px;
  position:absolute;
  border-radius: 50px;
  background-color: rgb(63, 61, 72);
  right:25px;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .body {
    height: unset;
    overflow: unset;
  }
  
  .game-body {
    width: 100%;
    height: 100vh;
  }

  .screen-wrapper {
    width: 47vh;
    height: 52vh;
    margin-top: 2vh;
  }

  .screen {
    width: 43vh;
    height: 45vh;
    background: url("./images/screen-background.png");
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
  }
  
  .pokemon-info-wrapper {
    width: 60%;
    height: 42vh;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 10px;
    margin-left: 1vh;
  }
  
  .pokemon-info {
    width: 100%;
    height: 100%;
    border: 2px solid black;
  }
  .pokemon-photo {
    width: 60%;
    height: 13vh;
    padding: 1vh 0;
    margin-top: 1vh;
    background-color: rgb(234, 235, 233);
    border: 4px solid black;
    box-shadow:  0px 10px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .pokemon-sprite {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  
  
  .pokemon-text{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 0 1vh;
    overflow-x: hidden;
  }
  
  .pokemon-name {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bolder;
  }
  
  .pokemon-data {

    font-size: 0.7rem;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .pokemon-button {
    display:block;
    width:80%;
    padding:1vh;
    background-color: rgb(235, 228, 45);
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .pokemon-button.active {
    background-color: rgb(253, 247, 80);
    width:90%;
    padding:2vh;
  }

  .pokemon-list {
    position: relative;
    margin-top: 3vh;
    width: 40%;
    height: 37vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .pokemon-search-button {
    position: fixed;
    transform: translateX(0%);
    width: 13vh;
    top: 50px; /* Ajustar según sea necesario */
    padding:1vh;
    background-color: rgb(235, 228, 45);
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .search-input-wrapper{
    display:none;
    position:absolute;
    top:300px;
    width:200px;
    height:100px;
    border-radius: 16px;
    border:2px solid black;
    background-color:royalblue;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(235, 228, 45);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
  
  }
  
  .search-input-wrapper.active {
    display:flex;

  }
  
  .search-input-wrapper input{
    font-weight: bolder;
    width:50%;
  }
  
  
  li{
    margin-bottom:1vh;
  }
  
  .search-input-wrapper{
    top:180px;
  }
  
  .control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 22%;
    margin-top: 5vh;
  }
  
  .sticks-wrapper {
    position: relative;
    width: 50%;
    margin-left: 1vh;
  }
  
  .up-button, .down-button, .right-button, .left-button {
    position: absolute;
    width:6vh;
    height:6vh;
    background-color: rgb(63, 61, 72);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6), -2px 2px 3px rgba(0, 0, 0, 0.6);
  
  }
  
  .up-button {
    background-image: url("./images/triangulo.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    
  }
  
  .down-button {
    background-image: url("./images/triangulo_down.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    bottom: 0;
    left: 40%;
    transform: translateX(-50%);
  }
  
  .right-button {
    background-image: url("./images/triangulo_left.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

  }
  
  .left-button{
    background-image: url("./images/triangulo_right.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    left: 53%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .buttons-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
  }
  
  .a-button{
    width: 37%;
    height: 8vh;
    position:absolute;
    border-radius: 50px;
    background-color: rgb(63, 61, 72);
    top: 0;
    left: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .b-button{
    width: 37%;
    height: 8vh;
    position:absolute;
    border-radius: 50px;
    background-color: rgb(63, 61, 72);
    bottom:50px;
    left: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}